* {
    font-family: 'Raleway', sans-serif;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #E3E3E3;
    overflow: hidden;
}

a.card{
    color: inherit;
    text-decoration: none;
}

.card:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

html, body {
    max-width: 100%;

}

.logoandnav {
    display: flex;
}

.logobooki1 {
    display: flex;
    max-width: 80px;
    max-height: 25px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav {
    display: flex;
    margin-left: auto;
    padding-right: 50px;
    gap: 75px;
}

a{
    text-decoration: none;
}

nav a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    padding-top: 20px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.titresetrecherche {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.Locationad {
    font-weight: 400;

}

.titres {
    padding-left: 20px;
}

.recherchebar {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1%;
}

.locationbutton {
    border-radius: 15px 0px 0px 15px;
    border: none;
    width: 50px;
    cursor: pointer;
}

.Placeholder1{
    border:1px solid #F2F2F2; 
}

.locationbutton:hover {
    background-color: #D9D9D9;
}

.locationpng {
    max-width: 20px;
    max-height: 20px;
}

.recherche {
    border-radius: 0 15px 15px 0px;
    background-color: #0065FC;
    color: aliceblue;
    font-weight: 800;
    width: 110px;
    height: 49px;
    border: none;
    cursor: pointer;
}

#phoneMagnifier{
    display:none;
}

.recherche:hover {
    background-color: #5D51FF;
}

.filterbar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 20px;
}

.FilterButtonsSection{
    align-items: center;
    display:flex;
    gap:15px;
}


.filterbuttons {
    display:flex;
    align-items: center;
    font-weight: 800;
    border: 1px solid #d9d9d9;
    border-radius: 25px 25px 25px 25px;
    height: 40px;
    min-width: 50px;
    background-color: white;
    cursor: pointer;
    gap:5px;
}

.blueicon{
    color: #005eff;
}

.greyicon{
    color:#ababab;
}

.filterpic {
    max-height: 25px;
    max-width: 25px;
    vertical-align: middle
}

.filterbuttons:hover {
    background-color: #DEEBFF;
}

.DispoAd {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.advicetitle {
    font-weight: 400;
    padding-left: 10px;
}

.advicepng {
    max-width: 16px;
    max-height: 16px;
}

.hebergementsmenu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
}

.hebergementsMarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-evenly;
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}

.titreH {
    width: 100%;
    padding-left: 20px;
}

.Hubcards{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    box-sizing: border-box;
}

.hebergementscards {
    flex-wrap: wrap;
    font-weight: 800;
    border: 5px solid white;
    height: 200px;
    width: 29%;
}

.HubItemInfo{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}

.MarseilleTP2{
    display:flex;
    flex-direction: column; 
}

.hebergementsMpic {
    max-height: 50%;
    max-width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    width: 100%;
}

.descH {
    font-weight: 200;
}

.more{
    box-sizing: border-box;
}

.moreTXT {
    font-weight: 800;
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

.priceM {
    width: 100%;
    font-weight: 400;
}

.ratingstars {
    display: flex;
    flex-direction: row; 
}

.popular {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}

.popcards{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
}

.popTOP {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titreP {
    width: 90%;
}

.popularcards {
    margin: 5px;
    font-weight: 800;
    border: 5px solid white;
    width: 369px;
    height: 144px;
}

.popdisplay{
        display:flex;
        flex-direction: column;
        margin-top:5px;
    }

.popularcards:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.poppics {
    height: 100%;
    width: 33%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
    object-position: center;
}

.popdesc {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin:5px;
    justify-content: space-between;
}

.activitesMarseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    gap: 30px;
}

.ACTMtitle {
    min-width: 100%;
}

.ACTMcards {
    flex-direction: column;
    font-weight: 800;
    width: 25%;
}

.flexACTMcards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    gap:30px;
}

.ACTMcards:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.ACTMpic {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 90%;
}

.ACTMlocation {
    padding-left: 15px;
}

.footerblock{
    box-sizing: border-box;
}

.footertext{
    box-sizing: border-box;
    background-color: #F2F2F2;
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: start;
    padding-left: 15px;
}

.footertext > div {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footerlinks {
    display: flex;
    padding-top: 10px;
    width: 100%;
    text-decoration: none;
    color: black;
}

.footerlinks:hover {
    text-decoration: underline;
}

/* css dekstop */

@media(max-width:1024px) {

    body {
        margin: auto;
        max-width: 1024px;
    }

    .filtertitle {
        width: 100%;
    }

    .filterbar {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        box-sizing: border-box;
    }

    .filterbuttons {
        margin: 5px;
    }

    .hebergementsmenu {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
    }

    .hebergementsMarseille {
        max-width: 100%;
        box-sizing: border-box;
    }

    .more {
        width: 100%;
    }

    .titreP {
        margin-left: 15px;
    }

    .popular {
        gap: 5px;
    }

    .popTOP {
        width: 100%;
        gap: 40px;
        box-sizing: border-box;
    }

    .popcards{
        flex-direction: row;
    }

    .popularcards {
        width: 31%;
        margin-left: 15px;
    }

    .activitesMarseille {
        gap:15px;
        margin-bottom: 50px;
        box-sizing: border-box;
        padding:30px;
        width: 100%;
    }

    .ACTMtitle{
        padding-left: 0px;
    }

    .ACTMcards {
        text-align: left;
        max-height: 350px;
    }

    .ACTMPic{
        height:75%;
    }
    
    .more{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* css tablette */

@media (max-width: 768px) {

    body{
        max-width: 100%;
    }

    .logophone{
        display:flex;
        width: 100%;
        justify-content: center;
    }

    .logoandnav {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .logobooki1 {
        display: flex;
        padding-left: 0px;
        padding-bottom: 0px;
        justify-content: center;
    }

    .recherche{
        display:none;
    }

    .Placeholder1{
        width: 90%;
    }

    #phoneMagnifier{
    display:block;
    border-radius: 0 15px 15px 0px;
    background-color: #0065FC;
    color: aliceblue;
    font-weight: 800;
    width: 50px;
    height: 49px;
    border: none;
    cursor: pointer;
    justify-content: center;
}


    nav {
        display: flex;
        flex-wrap: nowrap;
        padding-right: 0px;
        padding-top: 30px;
        margin-left: 0px;
        gap: 0;
    }

    .hebergements, .activites{
        width:50%;
    }

    .titres{
        padding-left: 0px;
        text-align: left;
        box-sizing: border-box;
        padding: 20px;
    }

    .hebergements {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .hebergements:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }

    .activites {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 15px;
    }


    .activites:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }

    .Locationad {
        font-weight: 200;
    }

    .recherchebar {
        padding-left:20px;
        padding-right:20px;
        box-sizing: border-box;
    }

    .LFGbutton{
        width:60%;
    }

    .filterbar {
        padding-left: 20px;
    }

    .filtertitle {
        width: 100%;
    }

    .filterbuttons {
        min-width: 125px;
        justify-content: center;
        gap:10px;
        width:45%;
    }

    .FilterButtonsSection{
        display:flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        width:100%;
        gap: 0px;
        margin: 0px;
    }

    .DispoAd{
        justify-content: center;
        padding-left: 20px;
        gap: 10px;
        box-sizing: border-box;
    }

    .advicetitle{
        padding-left: 0px;
    }


    .hebergementsmenu {
        max-width: 100%;
        padding-left: 0px;
        padding: 0px;
        gap: 0px;
        flex-direction: column-reverse;
        box-sizing: border-box;
    }

    .hebergementsMarseille {
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        background-color: white;
        gap: 5px;
        justify-content: center;
        max-width: 100%;
        box-sizing: border-box;
        padding: 15px;
    }

    .more{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .moreTXT{
        padding-left: 5px;
    }

    .Hubcards{
        padding-left: 0px;
    }

    .activitesMarseille{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-width: none;
        width: 100%;
        gap:0px;
        margin-bottom: 30px;
        padding: 20px;
    }

    .titreH{
        padding-left: 0px;
    }

    .hebergementscards {
        width: 95%;
    }

    .popular {
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        max-width: 100%;
        gap: 20px;  
        box-sizing: border-box;
    }

    .popcards{
        flex-direction: column;
        gap: 20px;
    }

    .popularcards {
        width: 95%;
        margin: 0px;
    }

    .titreP{
        margin-left: 0px;
    }

    .ACTMtitle{
        padding-left: 0px;
    }

    .flexACTMcards {
        display:flex;
        flex-direction: column;
    }

    .ACTMcards {
        width: 95%;
        height: 200px;
    }

    .ACTMpic {
        height: 70%;
    }

    .footerblock{
        background-color: #F2F2F2;
        display:flex;
        width:100%;
    }

    .footertext{
        display:flex;
        flex-direction:column;
        max-width: 100%;
        margin-left: 5%;
        padding-left: 0px;
    }

    .footertext>div{
        width: 100%;
    }

    footer{
        width:100%;
    }

}

@media (width>= 1440px){
    .wrap{
        max-width: 1440px;
        margin-inline:auto;
    }
}